{% extends "base.html" %}

{% block title %}Index Block{% endblock %}

{% block links %}

{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        Cadastro/Página.html
        <ul>
            {% for pessoa in pessoas %}
                <li> {{ pessoa.id }} - {{ pessoa.nome }}
                <a href= "{% url 'editar' pessoa.id %}">Editar</a>
                <a href= "{% url 'delete' pessoa.id %}">Deletar</a>
                </li>
            {% endfor %}
        </ul>

        <form action="{% url 'salvar' %}" method="POST">
            {% csrf_token %}
            <input type = "text" name="nome">
            <button type= "submit">Salvar</button>
        </form>

    </body>
{% endblock %}
</html>