.cabecalho {
  min-height: 10vh;
}

.body {
  min-height: 80vh;
}

.rodape {
  min-height: 10vh;
}

.bordaDireito{
  border-style: solid;
}

.bordamenuacesso{
  border-style: solid;
}

.bordatempo{
  border-style: solid;
}

.bordadatahora{
  border-style: solid;
}

.bordacabecalho{
  border-style: solid;
}

.bordausuario{
  border-style: solid;
}

.bordaconteudodireita{
  border-style: solid;
}


